@font-face {
    font-family: HelveticaWorld;
    src: url(Fonts/FreeSansBold.ttf);
}

@font-face {
    font-family: HelveticaWorldReg;
    src: url(Fonts/FreeSans.ttf);
}

html {
    scroll-behavior: smooth;
}

body{
    background-color:#282A36;
    font-family:HelveticaWorld;
    padding:0;
    margin:0;
}

header {
    position:sticky;
    top:0em;
    background-color:#282A36
}

header h2 {
    float: left;
    color:#BD93F9;
    padding-left:1em;
    transition:0.35s;
}

header h2:hover {
    font-size:1.7em;
}
.sources{
    float: right;
    color:#BD93F9;
    margin-right: 0.7em;
    transition: 0.35s;
}

.sources:hover {
    font-size:1.7em;
}

nav ul {
    margin-top: 0em;
    display:flex;
    flex-flow:wrap;
    justify-content:center;
    gap:4em;
    font-size:0.9em;
    padding:1.9em;
}

nav li {
    list-style-type: none;
    transition: 0.35s;
}

nav li:hover {
    font-size:larger;
}

nav a {
    color:#BD93F9;
    text-decoration: none;
}

section {  
    margin: 5% 30% 0% 20%;
}

section h1 {
    color: #bd93f9;
    font-size: 10rem;
    margin-bottom:0em;
}

section p {
    display: block;
    color:white;
    font-size: 1em;
    font-family: HelveticaWorld;
}

section img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

section figcaption {
    display: flex;
    justify-content: center;
    color:#44475A;
}

footer {
    margin-top:10em;
    background-color: #1C1D24;
    padding: 0em 3em 5em 0em; 
}

footer ul {
    list-style-type: none;
    margin-top: 5em;
    display:flex;
    justify-content:space-between;
    gap:4em;
    font-size:1.25em;
    color:#BD93F9;
    padding-top:3em;
}

* {
    margin-bottom:0;
    margin-left:0;
    margin-right: 0;
}

section ul {
    list-style-type: none;
}

section ul li h2 {
    font-size: 1.5em;
    display:flex;
    justify-content: center;
    padding: 2% 0.5em 2% 0.5em;
    border-radius: 1.3em;
    color:white;
    background-color:#282A36;
    border-style: solid;
    border-color: #6272A4;
    box-shadow: 0 0em 1.3em 0 rgba(0, 0, 0, 0.7);
    scroll-margin-top:6.5em;
}

section ul li img {
    margin-top:3em;
    margin-left:0.7em;
    width: 97%;
    height: auto;
    border-radius: 1em;
}

.gamecard{
    padding-bottom:2.5em;
    padding-right: 2.5em;
    padding-top:1.5em;
    background-color: #333542;
    border-radius: 2em;
}

section ul p {
    display:flex;
    justify-content: center;
    margin-top:1.5em;
    padding: 3% 3em 3% 3em;
    border-radius: 1.3em;
    color:white;
    background-color:#282A36;
    border-style: solid;
    border-color: #6272A4;
    box-shadow: 0 0em 1.3em 0 rgba(0, 0, 0, 0.7)
}

section a {
    color: #BD93F9; 
}

audio {
    font-size: 1.5em;
    display:flex;
    justify-content: center;
    padding: 2% 9.25em 2% 9.25em;
    border-radius: 1.3em;
    color:white;
    background-color:#282A36;
    border-style: solid;
    border-color: #6272A4;
    box-shadow: 0 0em 1.3em 0 rgba(0, 0, 0, 0.7);
    scroll-margin-top:6.5em;
}

/* iframe stukje beetje onduidelijk misschien, de iframe class is zodat de enkele liedjes opmaak kunnen hebben zonder dat de minecraft playlist beinvloed word door de css
    want ik kreeg het niet voor elkaar om alleen de opmaak van de minecraft playlist aan te passen dus dan maar andersom, de rest aanpassen en de playlist default laten */

.iframe { 
    display:inline-block;
    border-radius:12px;
    width:49.5%;
    height:152px;
    border:0;
    margin: 1em 0em 0em 0em;
}

iframe {
    padding-top:1em
}